<li>
	<%= link_to gravatar_for(post.user), post.user %>
    <span class="user">
  	  <%= link_to post.user.name, post.user %>
    </span>
	<span class="title"><%= link_to post.title, post %></span>
	<span class="date">Posted <%= post.created_at %></span>
	<span class="content"><%= post.content.split(' ').slice(0,50).join(' ') %></span>
	<% if current_user?(post.user) %>
	<%= link_to "delete", post, method: :delete,
								data: { confirm: "Remove post?" },
								title: post.title %>
	<% end %>
</li>