<style type="text/css">

    body{
      

        background-color:#E0E0E0;
        font:17px Arial, Helvetica, sans-serif ;
    }
</style>

<div class="row" style = "<%= show_blog_bg %>">
  <aside class="span2">
    <section>
      <p>left side stuff blah blah</p>
    </section>
  </aside>
  <div class="span6">
  	<section>

      <% if(@post.user.logo.url != "/logos/original/missing.png") %>
        <%=h image_tag @post.user.logo.url %>
      <% end %>
    	
      <%= @post.title %>
		<%= simple_format @post.content %>
		<% if current_user?(@post.user) %>
			<%= link_to "edit post", '#' %>
			<%= link_to "delete", @post, method: :delete,
										data: { confirm: "you sure?" },
										title: @post.title %>
		<% end %>
    </section>

    <h2>Comments</h2>
    <% @post.comments.each do |comment| %>
    	<p>
    		<strong>Commenter:</strong>
    		<%= comment.commenter %>
    	</p>

    	<p>
    		<strong>Comment:</strong>
    		<%= simple_format comment.body %>
    		<% if (current_user?(User.find_by_name(comment.commenter))&&signed_in?) || (current_user.name == @post.user.name) %>
  				<%= link_to "edit comment", '#' %>
  				<%= link_to "delete", '#' %>
			<% end %>
    	</p>
    <% end %>

    <h2>Leave a comment:</h2>
    <%= form_for([@post, @post.comments.build]) do |f| %>
    	<% if signed_in? %>
			  <%= f.hidden_field :commenter, :value => current_user.name %>
    	<% else %>
    	  <p>
	    	<%= f.label :commenter %><br />
	    	<%= f.text_field :commenter %>
	      </p>
	    <% end %>
	    <p>
	    	<%= f.label :body %><br />
	    	<%= f.text_area :body %>
	    </p>
	    <p>
	    	<%= f.submit %>
	    </p>
	<% end %>
  </div>
  <aside class="span4 righthandside">
  	<p>right hand stuff</p>
    <div class="right_hand_links">
      <% @post.user.links.each do |link| %>
        <%= link_to link.text, link.url %>
      <% end %>
    </div>
  </aside>
</div>  

